.ripple {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    background-color: transparent;
    border: 0.3vh solid #feb737; /* 圆环的边框颜色 */
    z-index: 101;
    width: 8.5vh; /* 初始宽度 */
    height: 8.5vh; /* 初始高度 */
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease, left 0.1s linear, top 0.1s linear; 
}


@keyframes ripple-animation {
    0% {
        transform: translate(-50%, -50%) scale(0.25);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

.ripple-animation {
    animation: ripple-animation 0.6s ease-out; /* 添加动画 */
}

.ripple-hover {
    width: 12vh; /* 悬浮时的宽度 */
    height: 12vh; /* 悬浮时的高度 */
    opacity: 0.2; /* 悬浮时的透明度 */
}
