/*进度条*/
#progress-bar {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 0;
    height: 0.5vh;
    background: linear-gradient(to right, rgba(251, 251, 251, 0.074), rgba(201, 172, 106, 0.901));
    z-index: 150;
    transition: width 0.25s ease-out;
}