  
    .loading_background{
        background-color: #e3f4fc;
        position: absolute;
        margin-left: -100vw;
        width: 200vw;
        height: 200vh;
        z-index: -1;
    }
    .loading {
        position:fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh; 
        top: -9vh;
        z-index: 999;
    }

    .loadingss {
        display: flex;
        align-items: center;
        position: fixed;
        left: 35vw;
        top: 30vw;
    }

    .load_text {
        display: flex;

    }

    .load_letter {
        font-family: 'Bauhaus 93', sans-serif;
        font-size: 4.3vw;
        margin-right: 0.5vw; /* 每个字母之间的间距 */
        position: relative;
        animation: bounce 1s ease-in-out infinite;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px); /* 向上移动 */
        }
        60% {
            transform: translateY(-15px); /* 向上移动 */
        }
    }
    